body{
    color: red;
    background-color: lightblue;
}
.heading{
    width: 80%;
    font-size: 30px;
}
.name_objects{
    color: navy;
}
#camera, #result{
    border: 2px dashed black;
    width: 354px;
    height: 303px;
}